{% extends "base.html" %}
{% block content %}

<div class = "jumbotron">
    <h1>Info about our company</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores quia praesentium quas ex sunt, 
        distinctio voluptatem odio dolorum a vel. Animi asperiores voluptate, necessitatibus error ducimus tenetur quasi modi quae.
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam magni, voluptate soluta nulla accusamus nam aliquam fugiat ipsa. 
        Laborum aperiam commodi consectetur maxime repudiandae rem architecto earum similique! Ab, ducimus.</p>
</div>

{% endblock %}